.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.people{
    padding: 10px;
    border-right-style: solid;
    border-right-color: crimson;
    border-width: 10px;
}

.messages{
    padding: 10px;
}

