.photo{
    width: 100px;
    height: 100px;
}

.paginator {
    padding: 5px;
    border-style:solid;
    border-color: green;
    border-width: 1pt;    
}

.paginator.activeSpan {    
    color:red;
}

.but{
    padding: 5px;
    display:inline;
}
